body {
  background-color: #e5eff5;
}

/* CSS Grid Layout */

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  height: 550px;
  width: 700px;

  border-radius: 10px;
  overflow: hidden;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px, 300px;

  font-style: normal;
  font-family: "Karla", sans-serif;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: white;
  padding: 40px 40px 40px 40px;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;

  background-color: #2ab2af;
  padding: 40px 40px 40px 40px;

  color: white;
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

  background-color: #5bc4bf;
  padding: 40px 40px 40px 40px;

  color: white;
}

/* Box 1 Formatting */

#box1-title1 {
  font-weight: 700;
  color: #2ab2af;
}

#box1-title2 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #c0df34;
}

#box1-text {
  font-weight: 500;
  font-size: 1.125rem;
  color: #98a6bd;
}

/* Box 2 Formatting */

#box2-title {
  font-weight: 700;
  font-size: 1.25rem;
}

#box2-price {
  font-weight: 700;
  font-size: 1.875rem;
}

#box2-time {
  font-weight: 400;
  font-size: 1.125rem;
  opacity: 0.8;
}

span {
  vertical-align: middle;
}

#box2-text {
  font-weight: 400;
  font-size: 1.125rem;
  opacity: 0.9;
}

/* Box 3 Formatting */

#box3-title {
  font-weight: 700;
  font-size: 1.25rem;
}

#box3-text p {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  margin: 0;
}

.button {
  font-weight: 700;
  background-color: #c0df34;
  border-color: #2ab2af;
  width: 80%;
  height: 50px;

  box-shadow: 0px 10px 20px 0px #1f8e8c;
}

/* Media query for mobile responsive layout */

@media screen and (max-width: 700px) {
  .grid-wrapper {
    margin: 150px auto;
  }
  .grid {
    display: flex;
    flex-direction: column;

    height: 850px;
    width: 400px;

    border-radius: 10px;
    overflow: hidden;
  }
  .box1 {
    height: 38%;
  }
  .box2 {
    height: 29%;
  }
  .button {
    width: 100%;
  }
  .box3 {
    height: 33%;
  }
  .box1,
  .box2,
  .box3 {
    padding: 30px;
  }
}

/* Footer */

.attribution {
  font-size: 0.75rem;
  position: fixed;
  right: 5px;
  bottom: 5px;
}
